/*

--- 01 TYPOGRAPHY SYSTEM

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights:
Default: 1

- Line Heights:
Default: 1


--- 02 COLORS

- Primary: #e67e22
- Tints: #fdf2e9
- Shades: #c7f11f
- Accents:
- Greys:
#555
#333


--- 03 SHADOWS

--- 04 BORDER-RADIUS

--- 05 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px;
  10px/16px = 0.625 = 62.5%
  Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px; /* this controls the spacing between the letters , we made it using pixel , because this is very small and we can make it absolute.*/
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 600;

  /* Put transition on original state*/
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
}

.btn--full:hover,
.btn--full:active {
  background-color: #c7f11f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /** this makes the entire content jump , therefore we will not use it
  border: 2px solid #fff; */

  /*Alternate of the above , without the jumping issue */
  box-shadow: inset 0 0 0 3px #fff;
}

.hero-img {
  width: 100%;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.delivered-meals {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%; /* this will make the image circular as the image is a square (equal height and width)*/
  margin-right: -1.6rem; /* this would give an overlapping of images effect*/
  border: 3px solid #fdf2e9
    /*this gives a circular border to each image and the border color matches with the background color*/;
}

/* with this,we target the last image - and make , its right margin as 0 - we need to do this , because 
  above we have made right margin as -16px - due to which for last image the text description comes very close and overlaps with the image
  by making the right margin 0 for last image - this issue gets resolved.
*/
.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #c7f11f;
  font-weight: 700;
}
